<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

<f:section name="content">
    <h1>Listing for ModelOne</h1>
    
    <f:flashMessages />

    <!-- Berechnung der nächsten Sortierrichtung -->
    <f:if condition="{order} == 'asc'">
        <f:then>
            <f:variable name="nextOrder" value="desc" />
        </f:then>
        <f:else>
            <f:variable name="nextOrder" value="asc" />
        </f:else>
    </f:if>

    <table class="tx_extkey">
        <thead>
            <tr>
                <!-- Sortierlink für ModelOneName-Spalte -->
                <th>
                    <f:link.action action="list" arguments="{sort: 'modelOneName', order: nextOrder}" title="Click to Sort">
                        Model One Name
                        <f:if condition="{sort} == 'modelOneName'}">
                            <f:then>
                                <f:if condition="{order} == 'asc'}">&#x25B2;</f:if>
                                <f:if condition="{order} == 'desc'}">&#x25BC;</f:if>
                            </f:then>
                        </f:if>
                    </f:link.action>
                </th>

                <!-- Sortierlink für ModelOneContent-Spalte -->
                <th>
                    <f:link.action action="list" arguments="{sort: 'modelOneContent', order: nextOrder}" title="Click to Sort">
                        Model One Content
                        <f:if condition="{sort} == 'modelOneContent'}">
                            <f:then>
                                <f:if condition="{order} == 'asc'}">&#x25B2;</f:if>
                                <f:if condition="{order} == 'desc'}">&#x25BC;</f:if>
                            </f:then>
                        </f:if>
                    </f:link.action>
                </th>

                <!-- Sortierlink für RelationOne (ModelTwoName)-Spalte -->
                <th>
                    <f:link.action action="list" arguments="{sort: 'relationOne.modelTwoName', order: nextOrder}" title="Click to Sort">
                        Related Model Two Name
                        <f:if condition="{sort} == 'relationOne.modelTwoName'}">
                            <f:then>
                                <f:if condition="{order} == 'asc'}">&#x25B2;</f:if>
                                <f:if condition="{order} == 'desc'}">&#x25BC;</f:if>
                            </f:then>
                        </f:if>
                    </f:link.action>
                </th>

                <!-- Sortierlink für Datum (crdate) -->
                <th>
                    <f:link.action action="list" arguments="{sort: 'crdate', order: nextOrder}" title="Click to Sort">
                        Datum
                        <f:if condition="{sort} == 'crdate'}">
                            <f:then>
                                <f:if condition="{order} == 'asc'}">&#x25B2;</f:if>
                                <f:if condition="{order} == 'desc'}">&#x25BC;</f:if>
                            </f:then>
                        </f:if>
                    </f:link.action>
                </th>

                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <f:for each="{modelOnes}" as="modelOne">
                <tr>
                    <td><f:link.action action="show" arguments="{modelOne : modelOne}">{modelOne.modelOneName}</f:link.action></td>
                    <td><f:link.action action="show" arguments="{modelOne : modelOne}">{modelOne.modelOneContent}</f:link.action></td>
                    <td>{modelOne.relationOne.modelTwoName}</td>
                    <td><f:format.date format="d.m.y">{modelOne.crdate}</f:format.date></td>
                    <td><f:link.action action="edit" arguments="{modelOne : modelOne}">Edit</f:link.action></td>
                    <td><f:link.action action="delete" arguments="{modelOne : modelOne}">Delete</f:link.action></td>
                </tr>
            </f:for>
        </tbody>
    </table>

    <f:link.action action="new">New ModelOne</f:link.action>
</f:section>
</html>
